{% extends 'base.html' %}
{% block title %}Hotel Miranda - New Order{% endblock %}
{% load static %}

{% block content %} 

<form method="post" class="main__create__order">
    {% csrf_token %}
    <label for="type" class="main__create__order__element--label">Choose type of order</label>
    {{ form.type }}
    <label for="room" class="main__create__order__element--label">Select your room</label>
    {{ form.room }}
    {{ form.description }}
    <button type="submit" class="main__create__order__send" id="formContact">SEND</button>
</form>

{% endblock %}