
{% extends 'base.html' %}
{% block title %}Hotel Miranda - Offers{% endblock %}
{% load static %}

{% block content %} 
    <main class="main__offers">
        <div class="main__offers--intro">
            <p class="main__offers--intro--slogan">THE ULTIMATE LUXURY</p>
            <h1 class="main__offers--intro--title">Our Offers</h1>
            <p class="main__offers--intro--divider">Home | <span class="main__details--intro--divider--gold">Offers</span></p>
        </div>


        {% for room in rooms %}

        <div class="main__offers--elements">
            <div class="main__offers--elements--room">
                <img src="{{room.photo}}" alt="a room of hotel" class="main__offers--elements--room--image">
                <div class="main__offers--elements--room--prices">
                    <p class="main__offers--elements--room--prices--price-old">${{room.price}}<span class="main__offers--elements--room--prices--price-old--night">/Night</span></p>
                    <p class="main__offers--elements--room--prices--price-new">${{room.final_price}}<span class="main__offers--elements--room--prices--price-new--night">/Night</span></p>
                </div>
                <div class="main__offers--elements--room--data">
                    <p class="main__offers--elements--room--data--info">{{room.bed}}</p>
                    <h1 class="main__offers--elements--room--data--title">{{room.type}}</h1>
                    <hr class="main__offers--elements--room--data--separator">
                    <div class="main__offers--elements--room--data--content">
                        <p class="main__offers--elements--room--data--content--desc">
                            {{room.description}}
                        </p>
                        <div class="main__offers--elements--room--data--content--amenities">
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/airConditioner.svg' %}" alt="air conditioner svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Air conditioner
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/smallBreakfast.svg' %}" alt="breakfast svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Breakfast
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/cleaning.svg' %}" alt="cleaning svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Cleaning
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/grocery.svg' %}" alt="grocery svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Grocery
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/shopNear.svg' %}" alt="shop svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Shop Near
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/wifi.svg' %}" alt="wifi svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                High speed WiFi
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/kitchen.svg' %}" alt="kitchen svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Kitchen
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/shower.svg' %}" alt="shower svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Shower
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/singleBed.svg' %}" alt="a bed svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Single bed
                            </p>
                            <p class="main__offers--elements--room--data--content--amenities--element">
                                <img src="{% static 'media/towels.svg' %}" alt="towel svg" class="main__offers--elements--room--data--content--amenities--element--img">
                                Towels
                            </p>
                        </div>        
                    </div>
                                
                    <button class="main__offers--elements--room--data--bt" onclick="window.location.href= `{% url 'roomDetails' room_id=room.id %}`">BOOK NOW</button>
                </div>
            </div>
        </div>

        {% endfor %}
        
        <div class="main__offers--popular">
            <p class="main__offers--popular--info">POPULAR LIST</p>
            <h1 class="main__offers--popular--title">Popular Rooms</h1>
            <div class="main__offers--popular--room">
                <div class="main__offers--popular--room--slider">
                    <div class="swiper main__offers--popular--room--slider--swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper main__offers--popular--room--slider--swiper--wrapper">
                          <!-- Slides -->
                          <div class="swiper-slide main__offers--popular--room--slider--swiper--wrapper--slide"><img src="{% static 'media/gym.jpg' %}" alt="gym of hotel" class="slide main__offers--popular--room--slider--swiper--wrapper--slide--img" /></div>
                          <div class="swiper-slide main__offers--popular--room--slider--swiper--wrapper--slide"><img src="{% static 'media/restaurant.jpg' %}" alt="restaurant of hotel" class="slide main__offers--popular--room--slider--swiper--wrapper--slide--img" /></div>
                          <div class="swiper-slide main__offers--popular--room--slider--swiper--wrapper--slide"><img src="{% static 'media/room.jpg' %}" alt="room of hotel" class="slide main__offers--popular--room--slider--swiper--wrapper--slide--img" /></div>
                        </div>
            
                        <div class="swiper-button-prev main__details--room--related--element--slider--swiper--button"></div>
                        <div class="swiper-button-next main__details--room--related--element--slider--swiper--button"></div>
                    </div>
                </div>
                <div class="main__offers--popular--room--icons">
                    <img src="{% static 'media/iconBed.png' %}" alt="a bed icon" />
                    <img src="{% static 'media/iconWifi.png' %}" alt="a wifi icon" />
                    <img src="{% static 'media/iconCar.png' %}" alt="a car icon" />
                    <img src="{% static 'media/iconCold.png' %}" alt="a cold icon" />
                    <img src="{% static 'media/iconGym.png' %}" alt="a gym icon" />
                    <img src="{% static 'media/iconNoSmoke.png' %}" alt="a no smoke icon" />
                    <img src="{% static 'media/iconCocktail.png' %}" alt="a cocktail icon" />
                </div>
                <h3 class="main__offers--popular--room--title">Minimal Duplex Room</h3>
                <p class="main__offers--popular--room--desc">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor.</p>
                <p class="main__offers--popular--room--price">$345/Night</p>
                <p class="main__offers--popular--room--book">Book now</p>
            </div>
        </div>
    </main>


{% endblock %}