{% extends 'base.html' %}

{% load static %}

{% block content %} 

<main class="main__orders">
        <div class="main__orders__elements">
            {% for order in orders%}
            <div class="main__orders__elements__element" onclick="window.location.href= `{% url 'orderDetails' order_id=order.id%}`">
                <p class="main__orders__elements__element__description">
                    {{ order.type }} : {{ order.description }}
                </p>
                <p class="main__orders__elements__element__icons">
                    <img class="main__orders__elements__element__icons__icon" src="{% static 'media/editIcon.png' %}" alt="edit icon" onclick="window.location.href= `{% url 'orderDetails' order_id=order.id%}`"">
                </p>
            </div>
            {% endfor %}
        </div>
</main>

{% endblock %}
