{% extends 'base.html' %}

{% load static %}

{% block content %} 

<main>
    {% for order in orders%}
        <div oon>
            <p>
                {{ order.type }} : {{ order.description }}
            </p>
            <p>
                <img src="{% static 'media/editIcon.png' %}" alt="edit icon" onclick="window.location.href= `{% url 'orderDetails' order_id=order.id%}`"">
                <img src="{% static 'media/trash.png' %}" alt="trash icon">
            </p>
        </div>
    {% endfor %}
</main>

{% endblock %}
