.main__orders{    
    &__elements{
        width: 80%;
        margin: 2em auto;
        padding: 2em 0;

        &__title{
            margin-bottom: 2em;
            text-align: center;
            font-family: 'Archivo';
        }

        &__element{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 2em;
            align-items: center;
            border-radius: 20px;
            border: 1px solid black;
            box-shadow: 10px 5px 5px black;
            margin-bottom: 2em;

            &__description{
                font-family: 'Archivo';
                font-size: 1em;
                font-weight: 400;
                line-height: 1.6em;
            }

            &__icons{
                &__icon{
                    width: 30px;
                    cursor: pointer;
                }
            }
        }

        &__button{
            display: block;
            background-color: #BEAD8E;
            color: white;
            padding: 1em 2em;
            margin: 1em auto;
            border: none;
            font-family: 'Roboto';
            font-size: 1em;
            font-weight: 700;
            letter-spacing: .2em;
            margin-bottom: 1.5em;
            cursor: pointer;
        }
    }
}





@media only screen and (min-width: 1000px){
    .main__orders{    
        &__elements{
            width: 50%;

            &__element{
                flex-direction: row;
            }
        }
    }
}